# Dépendances
node_modules/
package-lock.json
yarn.lock

# Logs
*.log
npm-debug.log*

# Fichiers de configuration personnels
.env
.env.local
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/